PORT=5050
ROOT_PASSWORD=password
FRONTEND_MODELS_DIR=../frontend/public/models
FRONTEND_MODELS_DIR_ALT=../frontend/models
STORAGE_PDF_DIR=./public/pdf
STORAGE_GLB_DIR=./public/glb
TEMP_DIR=./public/temp
